@charset "utf-8";

footer{
    position: relative;
    background-color: black;
    bottom: 0;
    color: white;
    width: 996px;
    height: 7vh;

    margin-left: 50%;
    transform: translateX(-50%);
}

.push {
    height: 75px;
}

.in_header{
    width: 100%;
    height: 123px;
}

#div0{
    position: fixed;
    top: 0;
    width: 100%;
    height: 95px;
    background-color: white;
    z-index: 9;

}
#div1{
	
	height:10px; 
	background-color:red;
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 100%;
    position: fixed;
    margin-top: 0px;
    z-index: -1;
}

/* 가게소개 섹션 */
#picture-section, #normal-section {
    width: auto;
    height: auto;
    text-align: center;
    min-height: calc(93vh - 20px);
    padding-bottom: 20px;
}

/* 여백용 */
#picture-section .sub-menu-bg {
    height: 200px;
}

/* 여백용 */
#normal-section .sub-menu-bg {
    height: 300px;
}

#picture-section .picture-contents {
    position: relative;
    border: 10px solid #484d50;
    margin: 0 auto;
    width: 590px;
    height: 590px;
    padding: 5px;
}


/*-----------------------------------------*/
/* 폰트 불러오기 플로팅 메뉴 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

body {
    height: 100%;
}

/* 노말라이즈 */
body, ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

/* 라이브러리 */
.con {
    margin:0 auto;
}

.row::after {
    content:"";
    display:block;
    clear:both;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.cell-right {
    float:right;
    box-sizing:border-box;
}

.block {
    display:block;
}

.img-box > img {
    width:100%;
    display:block;
}

.relative {
    position:relative;
}

/* 커스텀 */
.con {
    width:1116px;
}

/* 탑바 시작 */
.top-bar {
    position: fixed;
    margin-left: max(1116px / 2, 50%);
    transform: translateX(-50%);
    
    z-index: 10;
}

.menu-box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 탑바 - 메뉴 박스 1 시작 */
.top-bar > .menu-box-1 > ul > li:not(.logo-cell) {
    width:calc((100% - 200px) / 6);
}

.top-bar > .menu-box-1 > ul > li:not(.logo-cell) > a {
    background-color:#484d50;
    padding:13px 0;
    color:white;
    font-weight:bold;
    text-align:center;
}

.top-bar > .menu-box-1 > ul > li:not(.logo-cell):hover > a {
    background-color:#afafaf;
}

.top-bar > .menu-box-1 > ul > li.logo-cell > a {
    margin-bottom:-9px;
    position:relative;
    z-index:1;
}

/* 탑바 - 서브메뉴배경 시작 */

/* 탑바 - 서브메뉴배경의 래퍼(wrapper) */
.top-bar > .sub-menu-bg > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    overflow:hidden;
    height:0;
    transition:height 0.3s;
}

/* 탑바 - 서브메뉴배경 */
.top-bar > .sub-menu-bg > div > div {
    position:absolute;
    top:0;
    left:10px;
    width:calc(100% - 20px);
    height:170px;
    background-color: gray;
    /*background-image:url(http://www.angelinus.com/ImagesNew/gnb/depth2FixedBg.jpg);*/
    background-repeat:no-repeat;
    background-position:center;
    transform:translateY(-100%);
    transition:transform 0.3s;
}

.top-bar > .sub-menu-bg > div > div::before, .top-bar > .sub-menu-bg > div > div::after {
    display:block;
    content:"";
    top:0;
    left:-10px;
    width:0;
    height:0;
    border-top:10px solid #484d50;
    border-left:10px solid transparent;
    position:fixed;
    z-index: 100;
}

.top-bar > .sub-menu-bg > div > div::after {
    left:auto;
    right:-10px;
    transform:rotateY(180deg);
}

.top-bar:hover > .sub-menu-bg > div > div {
    transform:translateY(0);
}

.top-bar:hover > .sub-menu-bg > div {
    height:470px;
}

/* 탑바 - 서브메뉴 - 시작 */
.top-bar > .menu-box-1 > ul > li:first-child > div {
    margin-left:10px;
}

.top-bar > .menu-box-1 > ul > li:last-child > div {
    margin-right:10px;
}

.top-bar > .menu-box-1 > ul > li > div {
    position: relative;
    z-index:1;
}

.top-bar > .menu-box-1 > ul > li > div > div {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:0;
    overflow:hidden;
    transition:height 0.3s;
}

.top-bar:hover > .menu-box-1 > ul > li > div > div {
    height:470px;
}

.top-bar > .menu-box-1 > ul > li > div > div > ul {
    height:470px;
    transform:translateY(-100%);
    transition:transform 0.3s;
}

.top-bar:hover > .menu-box-1 > ul > li > div > div > ul {
    transform:translateY(0);
}

.top-bar > .menu-box-1 > ul > li > div > div > ul > li > a {
    color:white;
    padding:8px 8px;
    white-space:nowrap;
    font-size:0.9rem;
    overflow-x:hidden;
    text-overflow:ellipsis;
}

.top-bar > .menu-box-1 > ul > li > div > div > ul > li:hover > a {
    background-color:rgba(0,0,0,0.2);
    color:white;
    text-decoration:underline;
}

/* 탑바 - 메뉴 박스 1 끝 */
/* 탑바 끝 */

#menu-section {
    position: relative;
    overflow: hidden;
    width: 1116px;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-bottom: 70px;
    z-index: 1;
}

#menu-section .sub-menu-bg{
    position: relative;
    height: 140px;
}

#menu-section h1 {
    text-align: center;
}

#menu-section .wrapper {
    min-height: 100%;
    margin: 0 auto -75px;
}

#menu-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

#menu-wrapper .new-menu-img {
    max-width: 350px;
    max-height: 350px;
    z-index: 1;
}

#menu-section .normal-menu-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.menu-main-img {
    margin-top: 20px;
    max-width: 700px;
    max-height: 700px;
}

.normal-menu-wrapper .drink-menu-img {
    max-width: 250px;
    max-height: 250px;
    margin-top: 16px;
}

.menu-name {
    text-align: center;
}

.menu-category-title {
    display: block;
    position: relative;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    margin-block-start: 3em;
    margin-block-end: 0.83em;
}

.navBarRight {
    display: inline-block;
    padding-top: 10px;
    width: 30vw;
    margin-left: 45vw;
}

.navBarLogin {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 11;
}


#navBar{
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    background-color: rgb(46, 67, 97);
}
.navBarCon{
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.navBarleft{
    display: flex;
    padding-top: 10px;
    font-size: 40px;
    color: white;
    width: 30%;
}
.navBarItem{
    width: 40%;
}
.navBarItem ul{
    display: block;
    
}
.navBarItem li{
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 20px;
}

a:link, a:visited{
    color: gray;
    text-decoration: none;
}

a:hover, a:active{
    color:white
}
.navBarRight{
    width: 30%;
}
.navBarLogin{
    font-size: 20px;
    text-align: right;
    padding-top: 10px;
} 
.mainCon{
    width: 80vw;
    margin: auto;
    text-align: center;
    white-space: nowrap;
}
.registerTitle{
    width: 100%;
    height: auto;
    margin-top: 40px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
} 

.registerTable {
    width: 35%;
    height: auto;
    margin: auto;
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
.registerTable tr {
    height: 40px;
}

.registerTable td {
    padding-top: 7px;
}
.registerSubmit {
    width: 35%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}
.loginTitle {
    position:relative;
    width: 22%;
    margin: auto;
    top: 200px;
    text-align: center;
    font-size: 45px;
}

.loginForm {
    position: relative;
    width: 22%;
    margin: 0 auto;
    font-size: 25px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

.loginId {
    position:relative;
    margin: 0 auto;
    margin-top: 20px;
    text-align: right;
}

.loginPw {
    position:relative;
    margin: 0 auto;
    margin-top: 20px;
    text-align: right;
}

.loginButton {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
   
}

.registerAndFind{
    width: 22%;
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
}

.registerAndFind a:link, .registerAndFind a:visited{
    color: black;
}

.helloUser{
    color: white;
    width: 100%;
}

.outAndUpdate{
    color: gray;
    margin-top: 5px;
    font-size: 16px;
}
